* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(circle at top, #2b1d3a, #000);
  color: white;
}

/* PAGE +18 */
.age-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.age-container {
  background: rgba(30, 20, 50, 0.9);
  padding: 40px;
  border-radius: 18px;
  width: 90%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 0 40px rgba(0,0,0,0.7);
}

/* LOGO */
.logo {
  font-size: 32px;
  margin-bottom: 15px;
}

.logo-text {
  color: #ff4d4d;
  font-weight: bold;
}

.logo-x {
  color: #ffcc33;
  font-weight: bold;
}

/* TEXTE */
.age-text {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.4;
}

/* BOUTONS */
.age-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.age-buttons button {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.btn-yes {
  background: #9ff0c8;
  color: #000;
}

.btn-no {
  background: #ff5c8a;
  color: white;
}

/* TEXTE LÉGAL */
.age-legal {
  font-size: 11px;
  opacity: 0.8;
}
